.slider.slider-horizontal {
  .slider-handle {
    background: #f9b126;
    opacity: 1;
    margin-top: -9px;
  }

  .slider-track {
    height: 2px;
    background: #427a35;
    margin-top: -2px;
  }
}
