.success-header {
  text-indent: -9999px;
  background: url('../images/h1_success.png') center 0 no-repeat;
  background-size: 246px 57px;
  height: 57px;
  margin: 20px 0;
}

.success-image {
  background: url('../images/success_check_mark.png') 0 0 no-repeat;
  background-size: 260px 260px;
  width: 260px;
  height: 260px;
  margin: 0 auto;
}

.success-text {
  margin-top: 20px;
  text-align: center;
}

.btn-show-trips {
  margin-top: 20px;
}


.friend-email-container {
  margin: 0 auto;
  width: 280px;
}

.btn-add-friend {
  margin-left: 8px;
}
