
.select-a-trip {
  text-indent: -9999px;
  background: url('../images/h1_select_a_trip.png') center 0 no-repeat;
  background-size: 289px 57px;
  height: 57px;
  margin: 10px 0 0;
}

.map-container {
  position: relative;
  height: 290px;
  overflow: hidden;
}

.map-overlay {
  background: url('../images/map_porthole.png') center 0 no-repeat;
  background-size: 400px 286px;
  min-width: 100%;
  height: 286px;
  position: absolute;
  z-index: 2;
  pointer-events: none;
}

.map {
  width: 305px;
  height: 282px;
  margin: 0 auto;
}

.prev-trip,
.next-trip {
  position: absolute;
  top: 128px;
  color: #ffd200;
  cursor: pointer;
  font-size: 1.7em;
  z-index: 3;

  &:hover,
  &:active {
    color: #e7c009;
  }

  &.disabled {
    display: none;
  }
}

.prev-trip {
  left: 0;
}

.next-trip {
  right: 0;
}

.trip-data {
  font-size: 11px;
  overflow: hidden;
  margin-top: -20px;
  z-index: 100;
  position: relative;

  .from {
    float: left;
    width: 46%;
    overflow: hidden;
  }

  .to {
    float: right;
    width: 46%;
    overflow: hidden;
    text-align: right;
  }

  .bottom-data {
    clear: both;
  }

  .cost {
    float: left;
    width: 46%;
    overflow: hidden;
  }

  .when {
    float: right;
    width: 46%;
    overflow: hidden;
    text-align: right;
  }
}

.to-address {
  white-space: nowrap;
}

.to-city {
  white-space: nowrap;
}

.from-city {
  white-space: nowrap;
}

.from-address {
  white-space: nowrap;
}

.bold-text {
  font-weight: 600;
  font-size: 15px;
}

.light-text {
  font-weight: 300;
  font-size: 15px;
}

.cost-data {
  font-size: 40px;
  margin-top: -10px;
}

.allcaps-label {
  color: #4f7549;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
}

.bottom-data {
  padding-top: 10px;
}
