extends layout

block content
  .tagline
    h3.tagline Easy payment splitting for shared trips!
  .btn-sign-in
    .sign-in.sign-in-bmw
      a.center-block.btn.btn-primary.btn-lg.btn-green(href="/authorize-bmw/" class=bmw ? 'disabled' : '')
        span 1. Sign in with BMW
    .sign-in-venmo
      a.center-block.btn.btn-primary.btn-lg.btn-orange(href="/authorize-venmo/" class=bmw ? '' : 'disabled')
        span 2. Sign in with Venmo


block scripts
  script(src="/javascripts/login.js")
