extends layout

block content
  h3.tagline Easy payment splitting for shared trips!
  .sign-in
    .sign-in-automatic
      a.center-block.btn.btn-primary.btn-lg.btn-green(href="/authorize-automatic/" class=automatic ? 'disabled' : '')
        span 1. Sign in with Automatic
    .sign-in-venmo
      a.center-block.btn.btn-primary.btn-lg.btn-orange(href="/authorize-venmo/" class=automatic ? '' : 'disabled')
        span 2. Sign in with Venmo
