extends layout

block content        
  .panel.panel-default.sign-in
    .panel-body
      .row
        .col-md-6.col-md-offset-3.description 
          h3 Split your trips with friends and carpool buddies
      .row
        .col-md-6.col-md-offset-3.sign-in
          a.center-block.btn.btn-primary.btn-lg.btn-sign-in
            span Sign in with BMW
