extends layout

block content
  .row
    .col-md-6.col-md-offset-3.description.tagline
      h3.tagline Easy payment splitting for shared trips!
  .btn-sign-in
    .sign-in.sign-in-bmw
      a.center-block.btn.btn-primary.btn-lg.btn-green(href="/authorize-bmw/" class=bmw ? 'disabled' : '')
        span Sign in with BMW
    .sign-in-venmo
      a.center-block.btn.btn-primary.btn-lg.btn-orange(href="/authorize-venmo/" class=bmw ? '' : 'disabled')
        span Sign in with Venmo


block scripts
  script(src="/javascripts/login.js")
