doctype html
html(lang="en")
  head
    title TripPay
    meta(http-equiv="content-type" content="text/html; charset=utf-8")
    meta(http-equiv="X-UA-Compatible" content="chrome=1")
    meta(name="description" content="TripPay")
    link(rel="stylesheet" type="text/css" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" media="screen")
    link(rel="stylesheet" type="text/css" href="/css/base.css" media="screen")
    link(rel="stylesheet" type="text/css" href="/css/style.css" media="screen")
    link(rel="stylesheet" type="text/css" href="/bower_components/mapbox.js/mapbox.css")
    link(rel="stylesheet" type="text/css" href="/bower_components/css-spinners/css/spinner/spinner.css")
  body
    .mainHeader
      .wrapper
        a.logo(href="#")
        .titlebar
          h1 TripPay

        if loggedIn
          nav.top-nav.navbar.navbar-default(role="navigation")
            .navbar-header
              button.navbar-toggle(type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1")
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar

            .collapse.navbar-collapse
              ul.nav.navbar-nav.navbar-right
                li
                  a#logout(href="/logout/") Log Out

    .wrapper.content
      #alert.alert
      block content

    script(src="/bower_components/mapbox.js/mapbox.js")
    script(src="/bower_components/jquery/dist/jquery.min.js")
    script(src="/bower_components/underscore/underscore-min.js")
    script(src="/bower_components/bootstrap/dist/js/bootstrap.min.js")
    script(src="/bower_components/moment/min/moment.min.js")

    script(src="/javascripts/helper.js")
    script(src="/javascripts/data.js")

    block scripts
