extends layout

block content
  #selectTrip
    h1.select-a-trip Select a Trip
    
    #trip
    .btn.btn-green.center-block.btn-select-trip Ok
    
  #selectFriends.hide
    h1.split-it-up Split it up
    
    .friendEmailContainer
      input.friendEmail.typeahead(type="text" placeholder="Enter an email or phone no")
      button.btn.btn-default.btn-add-friend Add
      
    .mileageCostContainer
      label.allcapsLabel Cost Per Mile
      .mileageRate
      .mileageRateSliderContainer
        span.mileageLabel 0
        input.mileageRateSlider
        span.mileageLabel 1.00
    
    .splitPeopleContainer  
      label.splitBetweenLabel.allcapsLabel Split Between  
      .includeSelfContainer
        label Include self?
        input.includeSelf(type="checkbox" checked)
      .splitList
      
      .btn.btn-orange.center-block.btn-request-payment Request Payment
    
  #success.hide
    h1.success-header Success
    .successImage
    
    .successText Payment has been requested<span class="friendCount"></span>.
    
    .btn.btn-green.center-block.btn-show-trips Again!
      

block scripts
  script(type="text/template" id="tripTemplate")
    .mapContainer
      .prevTrip &#9664;
      #map.map
      .nextTrip &#9654;
    .tripData
      .topData
        .from
          label.allcapsLabel From
          .fromAddress.boldText {{StartAddressAddress}}
          .fromCity.lightText {{StartAddressCityState}}
        .to
          label.allcapsLabel To
          .toAddress.boldText {{EndAddressAddress}}
          .toCity.lightText {{EndAddressCityState}}
      .bottomData
        .cost
          label.allcapsLabel Cost
          .costData
        .when
          label.allcapsLabel When
          .whenDate.boldText {{StartDate}}
          .whenTime.lightText {{StartTimeFormatted}}
          
  script(type="text/template" id="friendTemplate")
    .friend
      img(src="{{profile_picture_url}}")
      .friendName {{display_name}}
      .friendCharge
  
  script(src="/javascripts/main.js")
