extends layout

block content
  #selectTrip
    h1.select-a-trip Select a Trip
    
    #trip.trip
    .btn.btn-green.center-block.btn-select-trip Ok
    
  #selectFriends.hide
    h1.split-it-up Split it up
    
    .friend-email-container
      input.friend-email.typeahead(type="text" placeholder="Enter an email or phone no")
      button.btn.btn-default.btn-add-friend Add
      
    .mileage-cost-container
      label.allcaps-label Cost Per Mile
      .mileage-rate
      .mileage-rate-slider-container
        span.mileage-label 0
        input.mileage-rate-slider
        span.mileage-label 1.00
    
    .split-people-container
      .split-list-controls
        label.split-between-label.allcaps-label Split Between  
        .include-self-container
          label Include self?
          input.include-self(type="checkbox" checked)
      .split-list
      
      .btn.btn-orange.center-block.btn-request-payment Request Payment
    
  #success.hide
    h1.success-header Success
    .success-image
    
    .success-text Payment has been requested<span class="friendCount"></span>.
    
    .btn.btn-green.center-block.btn-show-trips Again!
    
  #loading.loading
    div Loading...
    .spinner
      

block scripts
  script(type="text/template" id="tripTemplate")
    .map-container
      .prev-trip &#9664;
      .map-overlay
      #map.map
      .next-trip &#9654;
    .trip-data
      .top-data
        .from
          label.allcaps-label From
          .from-address.bold-text {{startAddressFormatted}}
          .from-city.light-text {{startAddressCityState}}
        .to
          label.allcaps-label To
          .to-address.bold-text {{endAddressFormatted}}
          .to-city.light-text {{endAddressCityState}}
      .bottom-data
        .cost
          label.allcaps-label Cost
          .cost-data
        .when
          label.allcaps-label When
          .whenDate.bold-text {{startDate}}
          .whenTime.light-text {{startTimeFormatted}}
          
  script(type="text/template" id="friendTemplate")
    .friend
      img(src="{{profile_picture_url}}")
      .friend-name {{display_name}}
      .friend-charge
      .friend-remove &times;
      .friend-result
  
  script(src="/dest/index.js")
