extends layout

block content
  #selectTrip
    h1 Select a Trip
    
    #trip
    .btn.btn-green.center-block.btn-select-trip Ok
    
  #selectFriends.hide
    h1 Split it up
    
    .friendEmailContainer
      input.friendEmail.typeahead(type="text" placeholder="Enter an email or phone number")
      button.btn.btn-default.btn-add-friend Add
      
    .mileageCostContainer
      label Cost Per Mile
      .mileageRate
      input.mileageRateSlider
      
    label Split Between  
    .splitList
      
    .btn.btn-orange.center-block.btn-request-payment Request Payment
      

block scripts
  script(type="text/template" id="tripTemplate")
    .mapContainer
      .prevTrip &#9664;
      #map.map
      .nextTrip &#9654;
    .tripData
      .topData
        .from
          label From
          .fromAddress {{StartAddressAddress}}
          .fromCity {{StartAddressCityState}}
        .to
          label To
          .toAddress {{EndAddressAddress}}
          .toCity {{EndAddressCityState}}
      .bottomData
        .cost
          label Cost
          .costData
        .when
          label When
          .whenDate {{StartDate}}
          .whenTime {{StartTimeFormatted}}
  
  script(src="/javascripts/main.js")
