body {
  background-color: #70ab67;
}
.content {
  color: #FFF;
}

.content h1 {
  text-align: center;
}
.alert {
  clear: both;
  display: none;
  margin-top: 20px;
}

.mapContainer {
  position: relative;
}

.map {
  width: 250px;
  height: 250px;
  z-index: 0;
  border-radius: 125px;
  margin: 0 auto;
}

.prevTrip {
  position: absolute;
  top: 115px;
  left: 10px;
  color: #ffd200;
  cursor: pointer;
}

.nextTrip {
  position: absolute;
  top: 115px;
  right: 10px;
  color: #ffd200;
  cursor: pointer;
}

.nextTrip:hover, .prevTrip:hover {
  color: #E7C009;
}

.friendEmail {
  margin: 0 auto;
  display: block;
  width: 280px;
  padding: 8px 12px;
}

.panel {
  background-color: #72aa6a;
}

.panel-default {
  border: none;
}

.tagline {
  color: black;
}

.logo {
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.sign-in-venmo {
  padding-top: 10px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5) and (min-resolution: 144dppx) {

}
