body {
  background-color: #72aa6a;
}
.content {
  color: #FFF;
}

.content h1 {
  text-align: center;
}
.alert {
  clear: both;
  display: none;
  margin-top: 20px;
}

.map {
  width: 250px;
  height: 250px;
  z-index: 0;
  border-radius: 125px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5) and (min-resolution: 144dppx) {

}
