body {
  background-color: #72aa6a;
}

body.login {
  background: #72aa6a url("/images/title_bg.jpg") 0 0 no-repeat;
  background-size: 100% auto;
}

.titleBar {
  background: url("../images/title_small_top.png") 0 0 no-repeat;
  width: 100%;
  height: 95px;
}

#logout {
  color: white;
  float: right;
  padding: 40px 10px 0 0;
  font-weight: bold;
}

.wrapper {
  max-width: 410px;
  margin: 0 auto;
}

.content {
  color: #FFF;
  padding: 0 10px 10px;
}

.content input {
  color: #737c81;
}

.content h1 {
  text-align: center;
}
.alert {
  clear: both;
  display: none;
  margin-top: 20px;
}

.panel {
  background-color: #72aa6a;
}

.panel-default {
  border: none;
}

.tagline {
  color: #212121;
  font-size: 130%;
  text-align: center;
  line-height: normal;
  font-weight: normal;
  width: 300px;
  margin: 50px auto;
}

.logo {
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Login Page */

.btn-sign-in {
  position: fixed;
  bottom: 70px;
  left: 50%;
  margin-left: -125px;
  width: 250px;
}

.sign-in-venmo {
  padding-top: 10px;
}

.sign-in-bmw {
  color: #4f7549;
}

.sign-in-venmo {
  padding-top: 10px;
}

.btn-select-trip {
  /*margin-top: 20px;*/
}


/* Trip Selection */

.select-a-trip {
  text-indent: -9999px;
  background: url(../images/h1_select_a_trip.png) center 0 no-repeat;
  background-size: 289px 57px;
  height: 57px;
  margin: 10px 0 0 0;
}

.mapContainer {
  position: relative;
  /*max-width: 320px; */
  background: url(../images/map_porthole.png) center 0 no-repeat;
  height: 290px;
  z-index:-1;
}

.map {
  /*width: 250px;
  height: 250px;
  z-index: 0;
  border-radius: 125px;
  margin: 0 auto;*/
  width: 270px;
  height: 271px;
  z-index: 0;
  border-radius: 200px;
  margin: 0 auto;
  top: 7px;
  left: 1px;
}

.prevTrip {
  position: absolute;
  top: 115px;
  left: 0;
  color: #ffd200;
  cursor: pointer;
  font-size: 1.7em;
}

.nextTrip {
  position: absolute;
  top: 115px;
  right: 0;
  color: #ffd200;
  cursor: pointer;
  font-size: 1.7em;
}

.nextTrip:hover, .prevTrip:hover {
  color: #E7C009;
}

.nextTrip.disabled, .prevTrip.disabled {
  display: none;
}

.tripData {
  font-size: 11px;
  overflow: hidden;
  margin-top:-20px;
}

.tripData .from {
  float: left;
  width: 46%;
  overflow: hidden;
}

.tripData .to {
  float: right;
  width: 46%;
  overflow: hidden;
  text-align: right;
}

.tripData .bottomData {
  clear: both;
}

.tripData .cost {
  float: left;
  width: 46%;;
  overflow: hidden;
}

.tripData .when {
  float: right;
  width: 46%;
  overflow: hidden;
  text-align: right;
}

.toAddress {
  white-space: nowrap;
}

.toCity {
  white-space: nowrap;
}

.fromCity {
  white-space: nowrap;
}

.fromAddress {
  white-space: nowrap;
}



.boldText {
  font-weight: 600;
  font-size:15px;
}

.lightText {
  font-weight: 300;
  font-size:15px;
}

.costData {
  font-size:40px;
  margin-top: -10px;
}

.allcapsLabel {
  color: #4f7549;
  font-size:13px;
  font-weight: 600;
  text-transform: uppercase;
}

.bottomData {
  padding-top:10px;
}




/* Friend List */

.split-it-up {
  text-indent: -9999px;
  background: url(../images/h1_split_it_up.png) center 0 no-repeat;
  background-size: 239px 57px;
  height: 57px;
  margin: 20px 0;
}

.mileageCostContainer {
  padding: 5px 0;
}

.mileageCostContainer label {
  width: 100%;
  text-align: center;
}

.mileageCostContainer .mileageRate {
  text-align: center;
  font-size: 30px;
}

.mileageCostContainer .mileageRateSliderContainer {
  text-align: center;
}

.mileageCostContainer .mileageRateSliderContainer .mileageLabel {
  padding: 0 5px;
}

.splitBetweenLabel {
  float: left;
}

.includeSelfContainer {
  float: right;
}

.includeSelfContainer .includeSelf {
  margin-left: 5px;
}

.splitList {
  clear: both;
}

.friend {
  padding: 5px 0;
}

.friend img {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  float: left;
}

.friend .friendName {
  display: inline-block;
  padding-left: 10px;
  line-height: 50px;
}

.friend .friendCharge {
  float: right;
  width: 50px;
  line-height: 50px;
}

.btn-request-payment {
  margin-top: 20px;
}

/* Success Page */

.success-header {
  text-indent: -9999px;
  background: url(../images/h1_success.png) center 0 no-repeat;
  background-size: 246px 57px;
  height: 57px;
  margin: 20px 0;
}

.successImage {
  background: url('../images/success_check_mark.png') 0 0 no-repeat;
  background-size: 260px 260px;
  width: 260px;
  height: 260px;
  margin: 0 auto;
}

.successText {
  margin-top: 20px;
  text-align: center;
}

.btn-show-trips {
  margin-top: 20px;
}


/* Button Styles */

.btn-green {
  color: #fff;
  background-color: #4f7549;
  border-color: #3D6437;
  height:50px;
  font-size:20px;
  font-weight:bold;
}

.btn-green:hover {
  background-color: #4f7549;
}

.btn-green.disabled {
  background-color: #4f7549;
}

.btn-orange {
  color: #fff;
  background-color: #f9b126;
  border-color: #BA9144;
}

.btn-orange:hover {
  background-color: #f9b126;
}

.btn-orange.disabled {
  background-color: #f9b126;
}

/* Slider */

.slider.slider-horizontal .slider-handle {
  background: #f9b126;
  opacity: 1;
  margin-top: -9px;
}

.slider.slider-horizontal .slider-track {
  height: 2px;
  background: #427a35;
}

.slider.slider-horizontal .slider-track {
  margin-top: -2px;
}


/* Twitter Typeahed */

.friendEmailContainer {
  margin: 0 auto;
  width: 280px;
}

.btn-add-friend {
  margin-left: 8px;
}

.typeahead,
.tt-query,
.tt-hint {
  display: block;
  width: 220px;
  padding: 8px 12px;
  outline: none;
}

.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  border: 2px solid #0097cf;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-dropdown-menu {
  color: #999;
  width: 250px;
  margin-top: 12px;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}
